<!doctype html>
<html>
    <head>
        <title>My App</title>
        <link rel="stylesheet" href="{{ assetPath "css/main.css" }}">
    </head>
    <body>
        <script src="{{ assetPath "js/main.js" }}"></script>
    </body>
</html>